@import './basic';
@import './navbar';

.navbar-mobile-scrolled {
  button {
    background-color: var(--emotion) !important;
  }
  .line {
    //background-color: var(--emotion) !important;
  }
}

header {
  background-image: url('/assets/adults-bg.jpg');
  p {
    opacity: 1 !important;
    width: 50% !important;
    @include mobile {
      width: 65% !important;
    }
  }
  .buttons {
    //margin-bottom: -8rem;
  }
  audio {
    margin-top: 4rem;
    @include mobile {
      width: 100%;
      //margin-top: 12rem;
    }
  }
}

.adult-info {
  // width: 100%;
  margin-inline: auto;
  padding-block: 2rem;

  @include mobile {
    margin-block: 24px;
  }
  h3 {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    color: var(--family-tree);
  }
  p {
    width: 70%;
    font-size: 1.2rem;
    @include mobile {
      width: 90%;
    }
    @include tablet {
      width: 75%;
    }
    a {
      color: var(--primary);
      font-weight: 600;
    }
  }
}

#appointments {
  padding-block-start: 4.5rem;
  h1 {
    margin-left: 2.2rem;
    margin-bottom: 2.2rem;
    font-size: 3.2rem;
    color: var(--primary);
    @include mobile {
      font-size: 3rem;
    }
  }

  .img-area {
    height: auto;
    width: 50%;
    //background-image: url('/assets/wall-bg.jpg');
    background-size: cover;
    background-position: 0% 0%;
    @include mobile {
      width: 100vw;
      height: 100%;
    }
    img {
      width: 100%;
    }
  }
}
