@import './basic';

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  //top: 5%;//Only if we have a display bar else 0

  @include mobile {
    display: none;
  }

  .logo {
    display: flex;
    margin-left: 2.2rem;
    img {
      width: 8rem;
    }
  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include tablet {
      width: 60%;
      justify-content: end;
    }
    li {
      margin-inline: 1.5rem;
      a {
        text-decoration: none !important;
        color: #fff;
        font-weight: 500;
      }
      @include tablet {
        margin-inline: 1.6rem;
      }
    }
    li:nth-child(1) {
      margin-inline: 0;
      margin-right: 2.2rem;
      @include tablet {
        margin-right: 1.6rem;
      }
    }
    /*
        li:nth-child(6){
            margin-inline: 0;
            margin-left: 2.2rem;
            @include tablet{
                margin-left: 1.6rem;
            }
        }*/
  }
}

.navbar-scrolled {
  background: #fff !important;
  color: var(--primary) !important;
  a {
    color: var(--primary) !important;
  }
  button {
    background-color: var(--primary);
    color: #fff;
  }
  box-shadow:
    rgba(50, 50, 93, 0.1) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.1) 0px 3px 7px -3px;
}

.navbar {
  display: none;
  background-color: transparent;
  position: fixed;
  z-index: 100;
  width: 100%;
  //display: block;
  padding: 24px;
  //display: flex;
  justify-content: space-between;
  align-items: center;

  //top: 10%;//Only if we have a display bar else 0

  img {
    height: 48px;
  }
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-icon {
    height: 28px;
    width: 42px;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    justify-content: space-between;

    .line {
      background-color: #fff;
      width: 100%;
      height: 4px;
      border-radius: 2px;
    }
  }
  @include mobile {
    display: block;
    display: flex;
  }
}
.navbar-mobile-scrolled {
  background: #fff !important;
  color: var(--primary);
  a {
    color: var(--primary) !important;
  }
  img {
  }
  button {
    background-color: var(--primary);
    color: #fff;
  }
  .line {
    background-color: var(--primary) !important;
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
  box-shadow:
    rgba(50, 50, 93, 0.1) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.1) 0px 3px 7px -3px;
}
#sidebar {
  display: none;

  @include mobile {
    display: block;
  }

  width: 0%;
  opacity: 0;
  height: 100vh;
  background-color: var(--primary);
  position: fixed;
  left: 0;
  z-index: 200;

  .close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.7;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before,
  .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #fff;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-block: 48px;
    padding-top: 120px;
    li {
      margin-inline: 2.2rem;
      margin-block: 12px;
      padding-block: 12px;
      a {
        text-decoration: none !important;
        color: #fff;
        text-align: initial;
        font-size: 20px;
      }
    }
  }
  button {
    display: block;
    margin-inline: auto !important;
    padding: 4px 20px;
  }
  a {
    text-decoration: none !important;
  }

  transition: 0.3s;

  .buttons {
    @include mobile {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
  a {
    @include mobile {
      width: 100%;
    }
  }
  button {
    margin-block: 1rem;
    margin-inline: 0.5rem;
    @include tablet {
      font-size: 1.6rem;
      padding-inline: 36px;
      padding-block: 12px;
      font-size: 1rem;
    }
    @include mobile {
      margin-block: 0.5rem;
      width: 60%;
    }
  }
}
