---

---

<nav>
  <a href="/" class="logo">
    <img src="/assets/logo-white.png" alt="" class="logo-img" />
  </a>
  <ul>
    <li>
      <a href="#home">Home</a>
    </li>
    <li>
      <a href="#appointments">Contact</a>
    </li>
    <li>
      <a href="emotion.html">Emotion Centre</a>
    </li>
    <!--
                <li>
                    <a href="#appointments">
                        <button class="btn-primary">Contact</button>
                    </a>
                </li>
                -->
  </ul>
</nav>

<div class="navbar">
  <a href="/" class="logo">
    <img src="/assets/logo-white.png" alt="" class="mobile-logo-img" />
  </a>
  <div>
    <!-- <a href="#appointments">
                    <button class="btn-outline">Contact</button>
                </a> -->
    <div class="menu-icon">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
</div>

<div id="sidebar" style="width: 0%;">
  <div class="close"></div>
  <ul>
    <li class="mobile-link">
      <a href="#home">Home</a>
    </li>
    <li class="mobile-link">
      <a href="emotion.html">Emotion Centre</a>
    </li>
    <!--
                <li class="mobile-link">
                    <a href="#seminars">Seminars</a>
                </li>
                -->
  </ul>

  <div class="buttons">
    <a href="#appointments">
      <button class="btn-outline">Book Appointment</button>
    </a>
    <!-- <a href="./index.html">
                        <button class="btn-outline">Child and Adolescent</button>
                    </a> -->
  </div>
</div>
