<div class="text-info" class="container">
  <p>
    When we book an appointment with you, we keep that hour aside for you. If you cannot make it for
    some reason, please let us know at least 48 hours in advance so we can offer the time to someone
    who is waiting for an appointment.
  </p>
  <p>
    We charge for missed appointments and cancellations under 48 hrs. We understand that what you
    are doing takes courage. We work hard to keep your personal story confidential and do our best
    to make you feel safe.
  </p>
  <p>
    Please note: Our slots are pre-allocated. Slot availability is subject to cancellation and there
    is a waitlist. <br />
    Once you write to us, we will discuss your request in the team and get back to you with the next
    available slot, based on the waitlist. <br />
    (Average wait time: one week)
  </p>
</div>
<style lang="scss">
  @import '../styles/basic';
  .text-info {
    display: flex;
    flex-direction: row;
    p {
      margin-left: 2.2rem;
      font-size: 16px;
      line-height: 173.4%;
      color: #156064;
      opacity: 1;
      padding-block: 1.5rem;
      padding-inline-end: 4rem;
      margin-bottom: 2rem;
      width: 35%;
      color: var(--primary) !important;
      @include mobile {
        width: 90%;
        padding-inline-end: 12px;
        padding-block: 0.7rem;
        margin-bottom: 1rem;
      }
    }
    @include mobile {
      flex-direction: column;
    }
  }
</style>
