<footer>
  <section id="footer">
    <a href="#home">
      <img src="/assets/logo-white.png" alt="" />
    </a>
    <h3>
      Mental Health Team <br />
      Tuesday – Saturday by appointment <br />
      <!-- Find us on Google Maps -->
      <a href="https://maps.app.goo.gl/FfQVFodVbCdqdTT1A" target="_blank" style="color: white;"
        >B5/28, GF, Safdurjung enclave, New Delhi</a
      > | <a href="tel:+919013962794" style="color: white;">+91 90139 62794</a>
    </h3>

    <a href="https://instagram.com/familytree.camhs" target="_blank">
      <img src="/assets/insta-icon.png" alt="" width="56px" />
    </a>
  </section>
  <div class="bottom">
    <p>We are closed on Sundays and Mondays.</p>
  </div>
</footer>

<style lang="scss">
  @import '../styles/basic';
  #footer {
    background-image: url('/assets/footer.png');
    background-size: cover;
    color: #fff;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
      margin-bottom: 3rem;
    }
    h3 {
      font-size: 1.25rem;
      text-align: center;
      line-height: 160%;
      font-weight: 200;
      margin-bottom: 3rem;
      @include mobile {
        font-size: 16px;
      }
    }
  }
  .bottom {
    text-align: center;
    padding-block: 0.25rem;
  }
</style>
